* {
	list-style: none;
  text-decoration: none;
  font-family: 'Cormorant Garamond', serif; 
}

body {
	padding-bottom: 1.3em;
  padding-top: 5em;
	background: url('http://tsuts.tskoli.is/2t/0506992429/pictures/background_14.jpg');
	background-color: #000;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
}

/*  Header  */

nav {
  background-color: #1C1C1C;
  position: fixed;
  width: 100%;
	height: 3.5em;
	margin-top: -5.2em;
	overflow: hidden;
}
.header-nav {
  width: 100%;
  margin: 0 auto;
}
nav li {
	height: 3.5em;
  border-right: 1px solid gray;
  float: left;
	padding-top: 1.25em;
}
nav li a {
  color: #fff;
	padding: 100%;
  padding-left: 1em;
  padding-right: 1em;
	font-family: 'Open Sans', sans-serif;
}
nav a:hover {
  background-color: #46cfc1;
  overflow: hidden
}
nav li #here {
	background-color: #fff;
	color: #000;
	cursor: default;
}

  /* ********* Orðtök ********* */

/*  Orðtak  */

.group {
	background-color: #1c1c1c;
	text-align: center;
	max-width: 35em;
	margin: 0 auto;
}
.group h1 {
	color: #fff;
	padding-top: .5em;
}
.group img{
    width: 100%;
    margin: 0 auto;
}
.ordtak {
	font-size: 1.2em;
	background-color: #efefef;
	padding: .2em 1em;
}
.utskyring {
	font-style: italic;
}
.daemi {
	border-top: 1px solid #1c1c1c;
}
.daemi-text {
	color: #408681;
}

/*  Form  */

.group textarea,
.group input{
	max-width: 80%;
	min-width: 80%;
	text-align: center;
	border: 1px solid #1c1c1c;
	background-color: #efefef;
}
.group input {
  margin-bottom: 1em;
}
.group h1 input {
	border: 1px solid #fff;
	background-color: #1c1c1c;
	color: #fff;
    margin: 0;
}
.group .submit {
    padding: 1em;
}
.group .sub{
  display: block;
    max-width: 50%;
    min-width: 50%;
    margin: 0 auto;
}
.submit {
  padding: 1em;
}
.sub{
  max-width: 50%;
  min-width: 50%;
  margin: 0 auto;
	border: none;
	border-radius: 2px;
	background-color: #28a89f;
	color: #fff;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	font-variant: small-caps;
}
.group .sub:hover {
	background-color: #62bfb9;
}

  /* ********* Myndir ********* */

.mynd-preview-group {
  margin: 0 auto;
  height: 90%;
  width: 50%;
  background-color: #1c1c1c;
  border: 1px solid red;
}
.mynd-preview {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

/* Form */

.myndform h1,
.myndform input{
  font-family: 'Montserrat', sans-serif;
}
.myndform h1{
	text-align: center;
}
.myndform fieldset{
  width: 30%;
	border: 1px solid #1C1C1C;
  border-radius: 2px;
	background-color: #1C1C1C;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myndform .url{
  padding: 1em;
  width: 80%;
  margin: 0 auto;
  display: block;
  background-color: #4b4b4b;
  border: 1px solid #1c1c1c;
}
.myndform .sub {
  display: block;
  padding: 1em;
  max-width: 50%;
  min-width: 50%;
  margin: 0 auto;
	border: none;
	border-radius: 2px;
	background-color: #28a89f;
	color: #fff;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	font-variant: small-caps;
}
.myndform .sub:hover {
  background-color: #62bfb9;
}

.upload {
  display: block;
  margin: 0 auto;
  background-color: #1c1c1c;
  width: 50%;
}


/*  48 em og yfir  */

@media screen and (min-width: 48em) {
    .myndform{
        max-width: 50%;
        margin: 0 auto;
    }
}